.thead, .tbody { display: block; }

.tbody {
    height: 400px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

.table {
    width: 100%; /* Optional */
}

.tbody td, .thead th {
    width: 35%;  /* Optional */
}